In [42]:
import pandas as pd
import numpy as np

# Import Dataset

Import the preprocessed data set

In [43]:
df_boston = pd.read_csv('./data/prepared/rides_data_prepared.csv', index_col=0, dtype={'start_station_id': np.int64, 'end_station_id': 'string', 'end_station_name': 'string', 'start_station_name': 'string', 'bike_id': np.int64, 'user_type': 'string'})
df_boston['start_time'] = pd.to_datetime(df_boston['start_time'], format='%Y-%m-%d %X')
 
df_boston.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,trip_length,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude,date_time,max_temp,min_temp,precip
0,2015-01-01 00:21:44,2015-01-01 00:30:47,115,96,Porter Square Station,Cambridge Main Library at Broadway / Trowbridg...,277,Subscriber,543.0,42.387995,-71.119084,42.373379,-71.111075,2015-01-01 00:00:00,NaN,NaN,NaN
1,2015-01-01 00:27:03,2015-01-01 00:34:21,80,95,MIT Stata Center at Vassar St / Main St,Cambridge St - at Columbia St / Webster Ave,648,Subscriber,438.0,42.361962,-71.092053,42.372969,-71.094445,2015-01-01 00:00:00,NaN,NaN,NaN
2,2015-01-01 00:31:31,2015-01-01 00:35:46,91,68,One Kendall Square at Hampshire St / Portland St,Central Square at Mass Ave / Essex St,555,Subscriber,255.0,42.366277,-71.091690,42.365070,-71.103100,2015-01-01 01:00:00,NaN,NaN,NaN
3,2015-01-01 00:53:46,2015-01-01 01:00:58,115,96,Porter Square Station,Cambridge Main Library at Broadway / Trowbridg...,1307,Subscriber,432.0,42.387995,-71.119084,42.373379,-71.111075,2015-01-01 01:00:00,NaN,NaN,NaN
4,2015-01-01 01:07:06,2015-01-01 01:19:21,105,88,Lower Cambridgeport at Magazine St/Riverside Rd,Inman Square at Vellucci Plaza / Hampshire St,177,Customer,735.0,42.356954,-71.113687,42.374035,-71.101427,2015-01-01 01:00:00,NaN,NaN,NaN

# Demand Calculation

The demand on an hourly basis is defined by the number of rentals started within the respective hour, e.g a rental with start time 10.30 and end time 11.30 counts as a demand of the hour 10

In [44]:
df_demand = df_boston.resample(rule='H', on='start_time').size().reset_index(name='demand')
df_demand.columns = ['date_time', 'demand']
df_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  8760 non-null   datetime64[ns]
 1   demand     8760 non-null   int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 137.0 KB

In [45]:
df_weather = pd.read_csv('./data/weather_hourly_boston.csv')
df_weather['date_time'] = pd.to_datetime(df_weather['date_time'], format='%Y-%m-%d %X')
df_demand = df_demand.merge(df_weather, how = 'left', on = 'date_time')
df_demand.head(10)

            date_time  demand  max_temp  min_temp  precip
0 2015-01-01 00:00:00       4       NaN       NaN     NaN
1 2015-01-01 01:00:00       3       NaN       NaN     NaN
2 2015-01-01 02:00:00       1       NaN       NaN     NaN
3 2015-01-01 03:00:00       0       NaN       NaN     NaN
4 2015-01-01 04:00:00       1       NaN       NaN     NaN
5 2015-01-01 05:00:00       0       NaN       NaN     NaN
6 2015-01-01 06:00:00       0      -5.6      -5.6     0.0
7 2015-01-01 07:00:00       0      -5.6      -5.6     0.0
8 2015-01-01 08:00:00       4      -5.6      -5.6     0.0
9 2015-01-01 09:00:00       2      -4.4      -4.4     0.0

# Feature Engineering

## Previous demand as input

In [50]:
df_demand['demand_h-1'] = df_demand.demand.shift(periods=11)
df_demand['demand_h-2'] = df_demand.demand.shift(periods=2)
df_demand['demand_h-24'] = df_demand.demand.shift(periods=24)
df_demand.head(50)

,date_time,demand,max_temp,min_temp,precip,demand_h-1,demand_h-2,demand_h-24
0,2015-01-01 00:00:00,4,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-01 01:00:00,3,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-01 02:00:00,1,NaN,NaN,NaN,NaN,4.0,NaN
3,2015-01-01 03:00:00,0,NaN,NaN,NaN,NaN,3.0,NaN
4,2015-01-01 04:00:00,1,NaN,NaN,NaN,NaN,1.0,NaN
5,2015-01-01 05:00:00,0,NaN,NaN,NaN,NaN,0.0,NaN
6,2015-01-01 06:00:00,0,-5.6,-5.6,0.0,NaN,1.0,NaN
7,2015-01-01 07:00:00,0,-5.6,-5.6,0.0,NaN,0.0,NaN
8,2015-01-01 08:00:00,4,-5.6,-5.6,0.0,NaN,0.0,NaN
9,2015-01-01 09:00:00,2,-4.4,-4.4,0.0,NaN,0.0,NaN
10,2015-01-01 10:00:00,8,-5.6,-5.6,0.0,NaN,4.0,NaN
11,2015-01-01 11:00:00,6,-5.0,-5.0,0.0,4.0,2.0,NaN
12,2015-01-01 12:00:00,11,-5.0,-5.0,0.0,3.0,8.0,NaN
13,2015-01-01 13:00:00,10,-5.6,-5.6,0.0,1.0,6.0,NaN
14,2015-01-01 14:00:00,21,-3.9,-3.9,0.0,0.0,11.0,NaN
15,2015-01-01 15:00:00,12,-2.2,-2.2,0.0,1.0,10.0,NaN
16,2015-01-01 16:00:00,14,-1.1,-1.1,0.0,0.0,21.0,NaN
17,2015-01-01 17:00:00,9,-0.6,-0.6,0.0,0.0,12.0,NaN
18,2015-01-01 18:00:00,8,0.0,0.0,0.0,0.0,14.0,NaN
19,2015-01-01 19:00:00,3,0.6,0.6,0.0,4.0,9.0,NaN
20,2015-01-01 20:00:00,6,0.6,0.6,0.0,2.0,8.0,NaN
21,2015-01-01 21:00:00,3,-0.6,-0.6,0.0,8.0,3.0,NaN
22,2015-01-01 22:00:00,1,-0.6,-0.6,0.0,6.0,6.0,NaN
23,2015-01-01 23:00:00,0,-1.1,-1.1,0.0,11.0,3.0,NaN
24,2015-01-02 00:00:00,1,-0.6,-0.6,0.0,10.0,1.0,4.0
25,2015-01-02 01:00:00,0,-1.1,-1.1,0.0,21.0,0.0,3.0
26,2015-01-02 02:00:00,0,-1.1,-1.1,0.0,12.0,1.0,1.0
27,2015-01-02 03:00:00,1,-0.6,-0.6,0.0,14.0,0.0,0.0
28,2015-01-02 04:00:00,0,-0.6,-0.6,0.0,9.0,0.0,1.0
29,2015-01-02 05:00:00,1,-0.6,-0.6,0.0,8.0,1.0,0.0
30,2015-01-02 06:00:00,0,0.6,0.6,0.0,3.0,0.0,0.0
31,2015-01-02 07:00:00,6,0.6,0.6,0.0,6.0,1.0,0.0
32,2015-01-02 08:00:00,14,0.0,0.0,0.0,3.0,0.0,4.0
33,2015-01-02 09:00:00,18,0.0,0.0,0.0,1.0,6.0,2.0
34,2015-01-02 10:00:00,17,0.0,0.0,0.0,0.0,14.0,8.0
35,2015-01-02 11:00:00,10,1.1,1.1,0.0,1.0,18.0,6.0
36,2015-01-02 12:00:00,16,1.1,1.1,0.0,0.0,17.0,11.0
37,2015-01-02 13:00:00,13,0.6,0.6,0.0,0.0,10.0,10.0
38,2015-01-02 14:00:00,19,2.2,2.2,0.0,1.0,16.0,21.0
39,2015-01-02 15:00:00,15,3.3,3.3,0.0,0.0,13.0,12.0
40,2015-01-02 16:00:00,16,3.9,3.9,0.0,1.0,19.0,14.0
41,2015-01-02 17:00:00,22,3.3,3.3,0.0,0.0,15.0,9.0
42,2015-01-02 18:00:00,12,4.4,4.4,0.0,6.0,16.0,8.0
43,2015-01-02 19:00:00,9,4.4,4.4,0.0,14.0,22.0,3.0
44,2015-01-02 20:00:00,12,3.9,3.9,0.0,18.0,12.0,6.0
45,2015-01-02 21:00:00,7,3.3,3.3,0.0,17.0,9.0,3.0
46,2015-01-02 22:00:00,3,2.2,2.2,0.0,10.0,12.0,1.0
47,2015-01-02 23:00:00,1,1.7,1.7,0.0,16.0,7.0,0.0
48,2015-01-03 00:00:00,2,1.1,1.1,0.0,13.0,3.0,1.0
49,2015-01-03 01:00:00,2,1.1,1.1,0.0,19.0,1.0,0.0

## Construct weather features
### Rain feature

In [52]:
df_demand['rain'] = df_demand.apply((lambda row: 0 if row.precip == 0 else 1), axis=1)
df_demand.head()

,date_time,demand,max_temp,min_temp,precip,demand_h-1,demand_h-2,demand_h-24,rain
0,2015-01-01 00:00:00,4,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2015-01-01 01:00:00,3,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2015-01-01 02:00:00,1,NaN,NaN,NaN,NaN,4.0,NaN,1
3,2015-01-01 03:00:00,0,NaN,NaN,NaN,NaN,3.0,NaN,1
4,2015-01-01 04:00:00,1,NaN,NaN,NaN,NaN,1.0,NaN,1